.card-list {
    margin-left: 20px;
    margin-top: 50px;
}

.book-card {
    width: 250px;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}