<div class="login-wrapper">
<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <h2>Login Form</h2>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" type="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Primary</button>
</form>
</div>