<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Books</span>
    <span class="example-spacer"></span>
    <div *ngIf="!loggedIn()">
        <button mat-icon-button class="example-icon favorite-icon" (click)="redirectLogin()">
            Login
        </button>
        <button mat-icon-button class="example-icon" (click)="redirectRegister()" >
          Register
        </button>
    </div>
  </mat-toolbar>