<form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="password" type="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Primary</button>
</form>
  